<%- layout('./../layout_admin') -%>

<div class="fh5co-loader"></div>
<div id="page">
    <div id="fh5co-portfolio">
        <div class="container">
            <div class="col-md-4">
                <div class="fh5co-portfolio animate-box">
                    <a href="/admin/gallery/">
                        <div class="portfolio-text">
                            <h3><%= __("Gallery") %></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-portfolio animate-box">
                    <a href="/builder/stories/">
                        <div class="portfolio-text">
                            <h3><%= __("Stories") %></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-portfolio animate-box">
                    <a href="/builder/users/">
                        <div class="portfolio-text">
                            <h3><%= __("Users") %></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-portfolio animate-box">
                    <a href="/admin/orders/">
                        <div class="portfolio-text">
                            <h3><%= __("Orders") %></h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>