<!DOCTYPE html>
<html>
  <%- include head.ejs %>
  <body>
    <%- include nav.ejs %>
    <section id="page">
      <%- body -%>
    </section>
    <footer>
      <%- blocks.footer%>
    </footer>
    <%- include scripts.ejs %>
  </body>
</html>
