<!DOCTYPE html>
<html>
  <%- include head.ejs %>
  <body>
    <%- include nav.ejs %>
    <section id="page">
      <%- body -%>
        <%- include footer.ejs %>
    </section>

    <%- include scripts.ejs %>
  </body>
</html>
