<nav class="fh5co-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="index.html">Keedo<span>.</span></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li class="<%= activeUrl === 'index' ? 'active' : '' %>"><a href="/"><%= __('Hello') %></a></li>
                            <li class="<%= activeUrl === 'index' ? 'active' : '' %>"><a href="/browse"><%= __('Browse') %></a></li>
                            <li class="btn-cta <%= activeUrl === 'pre-order' ? 'active' : '' %>"><a href="/pre-order"><span><%= __('Browse') %></span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
