<%- layout('./../../layout_admin') %>

<div class="fh5co-loader"></div>

<div id="page">
    <div id="fh5co-portfolio">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2><%= __('Gallery') %></h2>
                </div>
            </div>
            <div class="row">
                <% _.each(list, function(entry){ %>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="/admin/gallery/<%= entry.id %>">
                            <div class="portfolio-entry"
                                 style="background-image: url('/uploads/<%= entry.fileName %>');"></div>
                            <div class="portfolio-text">
                                <h3><%= entry.title %></h3>
                                <ul class="stuff">
                                    <li><i class="icon-heart2"></i><%= entry.likesCount %></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <% }); %>
                <div class="col-md-4">
                    <div class="fh5co-portfolio animate-box">
                        <a href="/admin/gallery/new">
                            <div class="portfolio-text">
                                <h3><%= __('Add new ') %></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>
