<!DOCTYPE html>
<html>
<head>
    <%- blocks.stylesheets %>
    <link rel='stylesheet' href='/css/bulma.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>

<%- include common/nav.ejs %>
<%- body -%>

<%- include common/footer.ejs %>

<script type="text/javascript" src="https://unpkg.com/vue"></script>
<%- include common/scripts.ejs %>
<%- blocks.scripts %>
</body>

<% if (!env.isProd) { %>
<div id="notif" class="text-center alert-danger app-dev-notifier"> Your are using a non production version</div>
<% } %>
</html>
