<% layout('../layout') -%>

<div class="container">
    <div class="row">
        <% if(error) { %>
        <div class="alert-danger">
            <%= error %>
        </div>
        <% } %>
        <form action="/accounts/reset-password" method="post">
            <input type="hidden" value="<%= resetLink %>" name="reset_link">
            <div class="col-md-6 col-md-offset-3 animate-box fadeInUp animated-fast">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  name="password" type="password"  class="form-control" placeholder="<%= __('Password') %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  type="password"  name="re_password"  class="form-control" placeholder="<%= __('Confirm password') %>">
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" value="<%= __('Change !') %>" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>